ctrl_interface=DIR=/var/run/wpa_supplicant
ctrl_interface_group=wheel

update_config=1

network={
  ssid="<%= local! :ssid %>"
  psk="<%= `wpa_passphrase #{local!(:ssid).shell_escape} #{local!(:pwd)}` %>"
}

# vim: set filetype=eruby :
